h1 {
    color:rgb(96, 223, 225)
}

header {
    text-align: center;
    background: url('#');
    background-color: rgb(89, 165, 140);
    background-size: cover;
    color: rgb(255, 255, 255);
  }

a {
    color: rgb(57, 109, 102);
}

h2 {
    color:rgb(58, 90, 173)
}

.special {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

.whitelink {
  color: white;
}